
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>
	<div class="container">
		<div class="table-responsive">
			<table id="electronicProductsList"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Brand Name</th>
						<th>Product Code</th>
						<th>Category</th>
						<th>List Price</th>
						<th>Our Price</th>
						<th>Active</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="electronicProduct : ${electronicProductsList}">
						<td th:text="${electronicProduct.title}"></td>
						<td th:text="${electronicProduct.brandName}"></td>
						<td th:text="${electronicProduct.productCode}"></td>
						<td th:text="${electronicProduct.category}"></td>
						<td th:text="${electronicProduct.listPrice}"></td>
						<td th:text="${electronicProduct.ourPrice}"></td>
						<td th:text="${electronicProduct.active}"></td>
						<td></td>

					</tr>

				</tbody>
			</table>
		</div>

	</div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>