<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
						<span th:text="${#strings.toUpperCase(user.username)}"></span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="/image/images.png" class="img-responsive" />
			</div>
		</div>
		<hr
			style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
		<img class="img-responsive" src="/image/wood.png"
			style="margin-top: -75px;" />

		<div class="row" style="margin-top: 60px;">
			<div class="col-xs-9 col-xs-offset-3">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveEdit}? 'active'"><a
						href="#tab-1" data-toggle="tab"><span style="color: red;">Edit</span></a></li>
					<li th:classappend="${classActiveOrders}? 'active'"><a
						href="#tab-2" data-toggle="tab"><span style="color: red;">Orders</span></a></li>
					<li th:classappend="${classActiveBilling}? 'active'"><a
						href="#tab-3" data-toggle="tab"><span style="color: red;">Billing</span></a></li>
					<li th:classappend="${classActiveShipping}? 'active'"><a
						href="#tab-4" data-toggle="tab"><span style="color: red;">Shipping</span></a></li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

					<!-- Edit user information -->
					<div class="tab-pane fade" id="tab-1"
						th:classappend="${classActiveEdit}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form th:action="@{/updateUserInfo}" method="post">
										<input type="hidden" name="id" th:value="${user.id}" />

										<div class="bg-info" th:if="${updateUserInfo}">User info
											updated.</div>

										<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="firstName">First Name</label> <input
														type="text" class="form-control" id="firstName"
														name="firstName" th:value="${user.firstName}" />
												</div>
												<div class="col-xs-6">
													<label for="lastName">Last Name</label> <input type="text"
														class="form-control" id="lastName" name="lastName"
														th:value="${user.lastName}" />
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="userName">Username</label> ' <input type="text"
												class="form-control" id="userName" name="username"
												th:value="${user.username}" />
										</div>
										
										
										<div class="form-group">
											<label for="currentPassword">Current Password</label> ' <input
												type="text" class="form-control" id="currentPassword"
												name="currentPassword" th:value="${currentPassword}" />
										</div>
										
										<p style="color: #828282">Enter your current password to
											change the email address or password.</p>

										<div class="form-group">
											<label for="email">* Email Address</label> ' <input
												type="text" class="form-control" id="email" name="email"
												th:value="${user.email}" />
										</div>
										<p style="color: #828282">A valid email address. All
											emails from the system withll be sent to this address. The
											email address is not made public and will only be used if you
											wish to receive a new password or wish to receive certain
											notification.</p>

										<div class="form-group">
											<label for="txtNewPassword">Password</label> ' <input
												type="password" class="form-control" id="txtNewPassword"
												name="newPassword" />
										</div>

										<div class="form-group">
											<label for="txtConfirmPassword">Confirm Password</label> ' <input
												type="password" class="form-control" id="txtConfirmPassword" />
										</div>
										<p style="color: #828282">To change the current user
											password, enter the new password in both fields.</p>

										<button type="submit" class="btn btn-primary">Create
											new account</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Edit order information -->
					<div class="tab-pane fade" id="tab-2"
						th:classappend="${classActiveOrders}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;"></div>
							</div>
						</div>
					</div>


					<!-- Edit billing information -->
					<div class="tab-pane fade" id="tab-3"
						th:classappend="${classActiveBilling}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<ol class="breadcrumb">
										<li class="breadcrumb-item active"><a
											th:href="@{/listofCreditCard}"
											th:style="${listofCreditCard}? 'color:red'">List Of
												Credit Card</a></li>

										<li class="breadcrumb-item active"><a
											th:href="@{/addNewCreditCard}"
											th:style="${addNewCreditCard}? 'color:red'">Add New
												Credit Card</a></li>
									</ol>

									<div th:if="${listofCreditCards}">
										<form th:action="@{/setDefaultPayment}" method="post">
											<table class="table">
												<thead>
													<tr>
														<th>Default</th>
														<th>Credit Card</th>
														<th>Operations</th>
													</tr>
												</thead>
												<tbody>

													<tr th:each="userPayment : ${userPaymentList}">

														<td><input type="radio" name="defaultUserPaymentId"
															th:value="${userPayment.id}"
															th:checked="${userPayment.defaultPayment}" /></td>

														<td th:text="${userPayment.cardName}"></td>
														<td><a
															th:href="@{/updateCreditCard(id=${userPayment.id})}"><i
																class="fa fa-pencil"></i></a> <a
															th:href="@{/removeCreditCard(id=${userPayment.id})}"><i
																class="fa fa-times"></i></a></td>
													</tr>
												</tbody>
											</table>
											<button class="btn btn-primary" type="submit">Save</button>
										</form>
									</div>

									<!-- AddnewCard -->

									<div th:if="${addNewCreditCard}">
										<form th:action="@{/addNewCreditCard}" method="post">

											<div class="bg-info" th:if="${updateUserPaymentInfo}">User
												Updates Successfully</div>

											<input hidden="hidden" name="id" th:value="${userPayment.id}" />

											<div class="form-group">

												<h5>* Give a name for your card:</h5>
												<input type="text" class="form-control" id="cardName"
													th:name="cardName" th:value="${userPayment.cardName}"
													required="required" placeholder="Card Name" />
											</div>


											<!-- Billing information -->
											<hr />
											<div class="form-group">
												<h4>Billing Information</h4>
											</div>


											<div class="form-group">
												<label for="userBillingName">*Name</label> <input
													type="text" class="form-control" id="userBillingName"
													th:name="userBillingName"
													th:value="${userBilling.userBillingName}"
													required="required" placeholder="User BillingName" />
											</div>


											<div class="form-group">
												<label for="userBillingStreet1">*Street Address</label> <input
													type="text" class="form-control" id="userBillingStreet1"
													th:name="userBillingStreet1"
													th:value="${userBilling.userBillingStreet1}"
													required="required" placeholder="User Billing Street1" />

												<input type="text" class="form-control"
													id="userBillingStreet2" th:name=userBillingStreet2
													th:value="${userBilling.userBillingStreet2}"
													required="required" placeholder="User Billing Street2" />

											</div>

											<div class="row">
												<div class="col-xs-4">
													<div class="form-group">

														<label for="userBillingCity">*User Billing City</label> <input
															type="text" class="form-control" id="userBillingCity"
															th:name="userBillingCity"
															th:value="${userBilling.userBillingCity}"
															required="required" placeholder="User BillingCity" />
													</div>
												</div>

												<div class="col-xs-4">
													<div class="form-group">

														<label for="userBillingCity">*User Billing State</label> <select
															id="userBillingState" class="form-control"
															th:name="userBillingState"
															th:value="${userBilling.userBillingState}"
															required="required">

															<option value="" disabled="disabled">Please
																select an option</option>

															<option th:each="state : ${stateList}" th:text="${state}"
																th:selected="(${userBilling.userBillingState} == ${state})"></option>

														</select>
													</div>
												</div>


												<div class="col-xs-4">
													<div class="form-group">

														<label for="userBillingZipCode">*ZipCode</label> <input
															type="text" class="form-control" id="userBillingZipCode"
															th:name="userBillingZipCode"
															th:value="${userBilling.userBillingZipCode}"
															required="required" placeholder="User Zip Code" />
													</div>
												</div>

											</div>


											<!-- Credit Card  information -->
											<hr />
											<div class="form-group">
												<h4>Credit Card Information</h4>
											</div>

											<div class="row">
												<div class="col-xs-12">
													<img src="/image/creditcard.png" class="img-responsive"><br />
													<div class="form-group">
														<label for="cardType">*Card Type</label> <select
															id="cardType" class="form-control" th:name="cardType"
															th:value="${userPayment.cardType}" required="required">

															<option value="visa">Visa</option>
															<option value="master">Master</option>
															<option value="discover">Discover</option>

														</select>
													</div>



													<div class="form-group">
														<label for="cardHolderName">*Card CHolder Name</label> <input
															type="text" class="form-control" id="cardHolderName"
															th:name="cardHolderName"
															th:value="${userPayment.cardHolderName}"
															required="required" placeholder="Card CHolder Name" />
													</div>

													<div class="form-group">
														<label for="Card Number">*Card Number</label> <input
															type="text" class="form-control" id="cardNumber"
															th:name="cardNumber" th:value="${userPayment.cardNumber}"
															required="required" placeholder="Enter Valid Card Number" />
														<span class="input-group-addon"><i
															class="fa fa-credit-card" aria-hidden="true"></i></span>
													</div>

												</div>
											</div>

											<div class="row">
												<div class="col-xs-7">

													<div class="form-group">
														<label>*Expiration Date</label>
													</div>

													<div class="row">
														<div class="col-xs-6">
															<select class="form-control" th:name="expiryMonth"
																th:value="${userPayment.expiryMonth}"
																required="required">
																<option value="01">Jan</option>
																<option value="02">Fab</option>
																<option value="03">Mar</option>
																<option value="04">Apr</option>
																<option value="05">May</option>
																<option value="06">Jun</option>
																<option value="07">Jul</option>
																<option value="08">Aug</option>
																<option value="09">Sep</option>
																<option value="10">Oct</option>
																<option value="11">Nov</option>
																<option value="12">Dec</option>
															</select>
														</div>
														<div class="col-xs-6">
															<select class="form-control" th:name="expiryYear"
																th:value="${userPayment.expiryYear}" required="required">
																<option value="19">2019</option>
																<option value="20">2020</option>
																<option value="21">2021</option>
																<option value="22">2022</option>
																<option value="23">2023</option>
																<option value="24">2024</option>
																<option value="25">2025</option>
																<option value="26">2026</option>
																<option value="27">2027</option>
																<option value="28">2028</option>
																<option value="29">2029</option>
																<option value="30">2030</option>

															</select>
														</div>
													</div>
												</div>

												<div class="col-xs-4">
													<div class="form-group">
														<label for="cvc">*CV Code</label> <input type="text"
															class="form-control" id="cvc" th:name="cvc"
															th:value="${userPayment.cvc}" required="required"
															placeholder="CVC" />
													</div>
												</div>
											</div>
											<hr />
											<button type="submit" class="btn brn-primary btn-lg">Submit</button>

										</form>


									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Edit Shipping information -->
					<div class="tab-pane fade" id="tab-4"
						th:classappend="${classActiveShipping}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<ol class="breadcrumb">
										<li class="breadcrumb-item active"><a
											th:href="@{/listOfShippingAddreses}"
											th:style="${listOfShippingAddreses}? 'color:red'">List Of
												Shipping Address</a></li>

										<li class="breadcrumb-item active"><a
											th:href="@{/addNewShippingAddress}"
											th:style="${addNewShippingAddress}? 'color:red'">Add New
												Shipping Address</a></li>
									</ol>

									<div th:if="${listOfShippingAddreses}">
										<form th:action="@{/setDefaultShippingAddress}" method="post">
											<table class="table">
												<thead>
													<tr>
														<th>Default</th>
														<th>Shipping Address</th>
														<th>Operations</th>
													</tr>
												</thead>
												<tbody>

													<tr th:each="userShipping : ${userShippingList}">

														<td><input type="radio"
															name="defaultUserShippingAddressId"
															th:value="${userShipping.id}"
															th:checked="${userShipping.defaultShippingAddress}" /></td>

														<td
															th:text="${userShipping.userShippingStreet1}+', '+ ${userShipping.userShippingCity}
														+', '+${userShipping.userShippingState}"></td>
														<td><a
															th:href="@{/updateUserShipping(id=${userShipping.id})}"><i
																class="fa fa-pencil"></i></a> <a
															th:href="@{/removeUserShipping(id=${userShipping.id})}"><i
																class="fa fa-times"></i></a></td>
													</tr>
												</tbody>
											</table>
											<button class="btn btn-primary" type="submit">Save</button>
										</form>
									</div>

									<!-- AddShippingAddress -->

									<div th:if="${addNewShippingAddress}">
										<form th:action="@{/addNewShippingAddress}" method="post">

											<div class="bg-info" th:if="${updateUserShippingInfo}">User
												Updates Successfully</div>

											<input hidden="hidden" name="id"
												th:value="${userShipping.id}" />

										

												<!-- Billing information -->
												<hr />
												<div class="form-group">
													<h4>Shipping Address Information</h4>
												</div>


												<div class="form-group">
													<label for="userShippingName">*Name</label> <input
														type="text" class="form-control" id="userShippingName"
														th:name="userShippingName"
														th:value="${userShipping.userShippingName}"
														required="required" placeholder="User ShippingName" />
												</div>
												
												<div class="form-group">
													<label for="userShippingAddress">*User Shipping Address</label> <input
														type="text" class="form-control" id="userShippingAddress"
														th:name="userShippingAddress"
														th:value="${userShipping.userShippingAddress}"
														required="required" placeholder="User ShippingAddress" />
												</div>


												<div class="form-group">
													<label for="userShippingStreet1">*Street Address</label> <input
														type="text" class="form-control" id="userShippingStreet1"
														th:name="userShippingStreet1"
														th:value="${userShipping.userShippingStreet1}"
														required="required" placeholder="User Shipping Street1" />

													<input type="text" class="form-control"
														id="userShippingStreet2" th:name=userShippingStreet2
														th:value="${userShipping.userShippingStreet2}"
														required="required" placeholder="User Shipping Street1" />

												</div>

												<div class="row">
													<div class="col-xs-4">
														<div class="form-group">

															<label for="userShippingCity">*User Shipping City</label> <input
																type="text" class="form-control" id="userShippingCity"
																th:name="userShippingCity"
																th:value="${userShipping.userShippingCity}"
																required="required" placeholder="User Shipping City" />
														</div>
													</div>

													<div class="col-xs-4">
														<div class="form-group">

															<label for="userShippingState">*User Shipping State</label>
															<select id="userShippingState" class="form-control"
																th:name="userShippingState"
																th:value="${userShipping.userShippingState}"
																required="required">

																<option value="" disabled="disabled">Please
																	select an option</option>

																<option th:each="state : ${stateList}"
																	th:text="${state}"
																	th:selected="(${userShipping.userShippingState} == ${state})"></option>

															</select>
														</div>
													</div>


													<div class="col-xs-4">
														<div class="form-group">

															<label for="userShippingZipCode">*User Shipping ZipCode</label> <input
																type="text" class="form-control" id="userShippingZipCode"
																th:name="userShippingZipCode"
																th:value="${userShipping.userShippingZipCode}"
																required="required" placeholder="User Shipping ZipCode" />
														</div>
													</div>

												</div>
												<hr />
												<button type="submit" class="btn brn-primary btn-lg">Submit</button>
										</form>

									</div>
								</div>


							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- end of container -->


	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>